<launch>

  <arg name="config_name" default="multimaster_params.yaml"/>

  <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="screen">
	      <!--param name="mcast_group" value="228.0.0.1" /-->
  </node>

  <node pkg="master_sync_fkie" type="master_sync" name="multimaster_client_sync" output="screen">
	      <rosparam file="$(find master_sync_fkie)/config/payload_station/$(arg config_name)"/>
  </node>

</launch>
